<section class="panel clearfix">
    <div class="box col-1-2 row-1-1">
        <h2>Conférenciers</h2>
    </div>
    <div class="box col-1-2 row-1-1">
        Liste<br>
        {% for speaker in speakers %}
            {{speaker.post_title}}<br>
        {% endfor %}
    </div>
</section>
